<a href="2w"></a><form [formGroup]="dataForm">
  <div class="modal-header">
    <h3 class="modal-title mt-0"><b>{{title}}</b></h3>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <label for="fullname" >Chọn cán bộ<span class="text-danger">*</span></label>
          <select formControlName="profile_id" *ngIf="action!=='edit'" class="form-control" (change)="changeProfile()">
            <option *ngFor="let profile of listProfile" value="{{profile.id}}" >
              {{profile?.code}} - {{profile?.fullname}}
            </option>
          </select>
          <input formControlName="codeAndName" *ngIf="action==='edit'" class="form-control" disabled>
        </div>
        </div>
    <div class="col-md-6">
      <div class="mb-4">
        <label for="fullname">Giới tính<span class="text-danger">*</span></label>
        <input formControlName="gender" class="form-control" disabled>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <label for="fullname">Năm sinh<span class="text-danger">*</span></label>
          <input formControlName="nam_sinh" class="form-control" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-4">
          <label for="fullname">Chức danh, chức vụ<span class="text-danger">*</span></label>
          <input formControlName="chuc_vu" class="form-control" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <label for="fullname">Ngày nghỉ hưu/thôi việc<span class="text-danger">*</span></label>
          <input formControlName="ngay" class="form-control" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-4">
          <label for="fullname">Hình thức<span class="text-danger">*</span></label>
          <select formControlName="status" class="form-control">
            <option value="01">Nghỉ Hưu</option>
            <option value="03">Thôi việc</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="save()" class="btn btn-primary">Lưu</button>
    <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">Hủy</button>
  </div>
</form>
